* {
    font-family: sans-serif;
}
body {
  background-color:#ffd701;  
}
nav {
  height: 12vh;
  background-color: black;
  width: 100%;
}
nav h4 {
  color: white;
  margin: 0px 0px;
}
#event-container{
  height:40vh;
  width:95%;
  margin: 5vh auto;
  background-color:green;  
}

.container-nav {
  height:20vh;
  width: 95%;
  margin: 5vh auto;
  background-color:green;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.boxy {
  height: 15vh;
  width: 40%;
  margin: 0px 2vh;
  background-color:  #FFD701;
}
/*changes*/
#food{
  background-color:green;
  color:white;
  display:flex;
  align-items:center;
  flex-direction:column; 
}
header{
    background-color:black;
    color:white;
    margin:5vh auto;
    margin-bottom: 10px;
    padding-left:10em;}
.moveOver{
    padding-right:4em;
}

#Press{  
  height:20vh;
  width: 95%;
  margin: 5vh auto;
  margin-top:10px;
  background-color:green;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  }
  #lineUp{
  width: 95%;
  margin: 5vh auto;
  margin-top:0;
  background-color:green;
  color:white;
  display:flex;
  align-items:center;
  flex-direction:column; 
  }
/*changes End*/
#mission-statement {
    height: 100vh; 
    width: 85%;
    margin: 0 auto;
    text-align: center;
    background-color: #FFD701;
    margin-top: 10vh;
}

#mission-par {
    margin: 0 auto;
    color: black;
    font-size: 3vh;
    max-width: 800px;
    max-height: 100vh;
    padding-top: 15vh;
    line-height: 1.75em;
}

#partners-container {
    margin: 10vh 0px;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: #FFD701;
}

#logo {
    font-size: 2vh;
}

#text {
    font-size: 4vh;
}

table {
    width: 90%;
    height: 75%;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    width: 50%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 100%;
    color: white;

}

footer div {
    width: 50vw;
    margin: 5vh auto;
}
.footer-list {
    list-style: none;
    font-size: 2.5vh;
    line-height: 2em;
    text-align: center;
    padding: 0px;
}
