* {
    font-family: sans-serif;
}
body {
  /*background-color:#ffd701;  */
    background: -webkit-linear-gradient(yellow,red);
    /*background-color: -o-linear-gradient(red, yellow);
    background-color: -moz-linear-gradient(red, yellow);
    background-color: linear-gradient(red, yellow); */
}
nav {
  height: 12vh;
  background-color: black;
  width: 100%;
}
nav h4 {
  margin: 0px 0px;
}
#event-container{
  height:40vh;
  width:95%;
  margin: 5vh auto;
  background-color:none;
  border: 2px solid black;  
}

.container-nav {
  height:20vh;
  width: 95%;
  margin: 5vh auto;
  background-color:none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.boxy {
  height: 15vh;
  width: 40%;
  margin: 0px 2vh;
  background-color:  none;
  border: 2px solid black;
}
/*changes*/
#food{
  background-color: none;
  color:white;
  display:flex;
  align-items:center;
  flex-direction:column; 
}
header{
    background-color:black;
    color:white;
    margin:5vh auto;
    margin-bottom: 10px;
    text-align: center;
}
    
.moveOver{
    padding-right:4em;
}

#Press{  
  height:20vh;
  width: 95%;
  margin: 5vh auto;
  margin-top:10px;
  background-color: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  }
  article{
  width: 95%;
  margin: 5vh auto;
  margin-top:0;
  background-color: none;
  color:white;
  display:flex;
  align-items:center;
  flex-direction:column; 
  }
/*changes End*/
#mission-statement {
    height: 100vh; 
    width: 85%;
    margin: 0 auto;
    text-align: center;
    background-color: none;
    margin-top: 10vh;
}

#mission-par {
    margin: 0 auto;
    color: white;
    font-size: 3vh;
    max-width: 800px;
    max-height: 100vh;
    padding-top: 15vh;
    line-height: 1.75em;
}

#partners-container {
    margin: 10vh 0px;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: none;;
}

#logo {
    font-size: 2vh;
    color: white;
}

#text {
    font-size: 4vh;
    color: white;
}

table {
    width: 90%;
    height: 75%;
    margin: 0 auto;
    color: white;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    width: 50%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 100%;
    color: white;

}

footer div {
    width: 50vw;
    margin: 5vh auto;
}
.footer-list {
    list-style: none;
    font-size: 2.5vh;
    line-height: 2em;
    text-align: center;
    padding: 0px;
}
#showy{
    display:none;
}
@media only screen and (min-width: 520px) {
     #hidey {
         display:none;
     }
     #showy{
         display:block;
         text-align: center;
     }
     
}
#box2{
    display:inline-flex;
}
 #box3 {
    text-align: end;
   width: 60%;    
   display: inline-block;
}
 #box4 {
     text-align: left;
   width: 35%;  
   display:inline-flex;     
}
#box5{
    display:inline-flex;
}
#box6{
    display:inline-flex;
}
 picture img{
    display:inline-block;
    height:260px;
    width:906.63px;
    padding-right:25px;
}
section img{
    display:inline-block;
    height:260px;
    width:912.43px;
}

#lineups {
    padding-left: 15vw;
}
 .speakers{
    width:20vw;
    height:17vw;
}
.buttons{
    width:40vw;
    height:17vw;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.buttons:hover, .buttons:focus, .buttons:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.nice{
    width:30vw;
    height:17vw;
}
#doubleshape{
    height:35vw;
    width:23vw;
}
#firstbox {
    width:30vw;
    height:15vw;
    padding-right: 10vw;
}
#secondbox {
    width:15vw;
    height:10vw;
}
#middlespeak {
    height:218px;
    width:459.29px;
}

. {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.:hover, .:focus, .:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
div div img  {
    height:327px;
    width:1300px;
}

.icon-align-justify {
    color: white;
    font-size: 2.75em;
    padding: .2em;
    padding-bottom: 0px;
    background-color: black;
    position: fixed;
    display: inline-block;
    top: 0vh;
    left: 0vh;
}

#appHeader {
    float: right;
    padding: 3vh 3vh;
    /*color: -webkit-linear-gradient(yellow,red);*/
    background: -webkit-linear-gradient(left, yellow,red);
	background: linear-gradient(left, yellow,red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#mobileNav {
    display: none;
    width: 100vw; 
    height: 100vh;
    padding: 0px;
}

#mobileNav li {
    list-style: none;
    text-align: center;
    padding-top: 2vh;
}

#mobileNav li a {
    text-decoration: none;
    color: white;
}